In [2]:
# Load Libraries
import pandas as pd
import numpy as np
import os, json, math, time

from tqdm.notebook import tqdm_notebook

# Exploratory Data Analysis
Load in your csv.gz's of results for each year extracted.
- [x] Concatenate the data into 1 dataframe for the remainder of the analysis.
Once you have your data from the API, they would like you to perform some light EDA to show:
1. How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
Please exclude any movies with 0's for budget AND revenue from the remaining visualizations.
2. How many movies are there in each of the certification categories (G/PG/PG-13/R)?
3. What is the average revenue per certification category?
4. What is the average budget per certification category?

In [3]:
df2000 = pd.read_csv("Data/final_tmdb_data_2000.csv.gz")
df2001 = pd.read_csv("Data/final_tmdb_data_2001.csv.gz")

In [6]:
df = pd.concat([df2000, df2001])
df.head()

   imdb_id
0        0
0        0