# Project 3 - Part 3

## Specifications - Database
- Your stakeholder wants you to take the data you have been cleaning and collecting in Parts 1 & 2 of the project, and wants you to create a MySQL database for them.

- Specifically, they want the data from the following files included in your database:
    - Title Basics:
        - Movie ID (tconst)
        - Primary Title
        - Start Year
        - Runtime (in Minutes)
        - Genres
    - Title Ratings
        - Movie ID (tconst)
        - Average Movie Rating
        - Number Of Votes
    - The TMDB API Results (multiple files)
        - Movie ID
        - Revenue
        - Budget
        - Certification (MPAA Rating)

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

# Import/Install pymysql
import pymysql
pymysql.install_as_MySQLdb()

# sqlalchemy libraries
from sqlalchemy import create_engine
from sqlalchemy.types import *
from sqlalchemy_utils import create_database, database_exists

In [2]:
# load basics file
basics = pd.read_csv('Data/title_basics.csv.gz')

In [3]:
ratings = pd.read_csv("Data/title.ratings.csv.gz")

In [4]:
# Load other files title_ratings & tmdb_results_combined
tmdb = pd.read_csv('Data/tmdb_results_combined.csv.gz')

Required Transformation Steps for Title Basics:
**Normalize Genre:**

Convert the single string of genres from title basics into 2 new tables.
    1. title_genres: with the columns:

    - tconst
    - genre_id
2. genres:

    - genre_id
    - genre_name

In [5]:
basics.head(3)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama

## 1. Getting List of Unique Genres

In [6]:
# Create new column by seperating 'genres'
# split by the comma (,) in 'genres'
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
85787,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
85788,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
85789,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
85790,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
85791,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [7]:
exploded_genres = basics.explode('genres_split')
exploded_genres

# genres_split no longer has [] & is seperated by genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
85790,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
85790,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
85790,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
85791,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
85791,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [8]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

## 2. Create a new title_genres table

In [9]:
## Save just tconst & genres_split as new df
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head(3)

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance

## 3. Create a genre mapper dictionary to replace string genres with integers

- Reminder:  we will use the dict and zip functions to make a dictionary with the genre strings as the keys and the integers genre_ids as the values.

In [10]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [11]:
## Make a dict with list of unique genres as the key & the new integer id as values
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

## 4. Replace the string genres in title_genres with the new integer ids.
- Create a new genre_id column using the genre_map dict with either .map or .replace
- Next, drop the "genres_split" column
- Your title_genres table is now ready for your MySQL database!

In [12]:
## make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].replace(genre_map)
basics = basics.drop(columns='genres_split')

#.map did not work for me, so I used .replace

## 5. Convert the genre map dictionary into a dataframe.

In [13]:
## Manually make dataframe with named cols from the .keyd and .values
genre_lookup = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                            'Genre_ID': genre_id_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

# Connection String

In [14]:
# Create connection string
connection_str = "mysql+pymysql://root:root@localhost/movies"

In [15]:
# Create engine with connection_str
engine = create_engine(connection_str)

In [16]:
# Create movies database if/else statement
if database_exists(connection_str) == False: create_database(connection_str)
else: print('The database already exists.')

The database already exists.

---

# II) Saving the MySQL tables with tconst as the primary key.

In [17]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear           float64
runtimeMinutes      int64
genres             object
genre_id           object
dtype: object

In [18]:
max_str_len = basics['tconst'].fillna('').map(len).max()
max_str_len

10

- Then Use 1 larger than the max_str_len for your String/Text object `Text(max_str_len +1 )`.

In [19]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [20]:
basics = basics.drop(columns=['originalTitle',
                             'isAdult',
                             'titleType',
                             'genres',
                             'genre_id'])

In [21]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85792 entries, 0 to 85791
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          85792 non-null  object
 1   primaryTitle    85792 non-null  object
 2   startYear       85792 non-null  float64
 3   endYear         0 non-null      float64
 4   runtimeMinutes  85792 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.3+ MB

### 2. Run df.to_sql with  the dtype argument
- Use this dictionary as the **dtype** argument in **df.to_sql** (make sure **index=False**)

In [22]:
# Save to sql w/ dtype & index=False
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

85792

In [23]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

### Create ratings schema

In [24]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286868 entries, 0 to 1286867
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1286868 non-null  object
 1   averageRating  1286868 non-null  float64
 2   numVotes       1286868 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.5+ MB

In [25]:
## Calculate max string lengths for object columns
key_len = ratings['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
ratings_schema = {
    "tconst": String(key_len+1), 
    'averageRating':Float(),
    'numVotes':Integer()}

In [26]:
ratings.to_sql('title_ratings',engine,dtype=ratings_schema,if_exists='replace',index=False)

1286868

### Create tmdb schema

In [27]:
tmdb = tmdb.drop(columns=['adult',
                         'backdrop_path',
                         'belongs_to_collection',
                         'genres',
                         'homepage',
                         'id',
                         'original_language',
                         'original_title',
                         'overview',
                         'popularity',
                         'poster_path',
                         'production_companies',
                         'production_countries',
                         'release_date',
                         'runtime',
                         'spoken_languages',
                         'status',
                         'tagline',
                         'title',
                         'video',
                         'vote_average',
                         'vote_count'])

In [28]:
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2472 entries, 0 to 2471
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        2472 non-null   object
 1   budget         2472 non-null   float64
 2   revenue        2472 non-null   float64
 3   certification  785 non-null    object
dtypes: float64(2), object(2)
memory usage: 77.4+ KB

In [29]:
## Calculate max string lengths for object columns
key_len = tmdb['imdb_id'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
tmdb_schema = {
    "imdb_id": String(key_len+1), 
    'budget':Float(),
    'revenue':Float(),
    'certification':Text(max_str_len+1)}

In [30]:
tmdb.to_sql('tmdb',engine,dtype=tmdb_schema,if_exists='replace',index=False)

2472

### Convert new genre tables into .sql files

In [31]:
title_genres.to_sql('title_genres',engine,if_exists='replace',index=False)

160264

In [32]:
genre_lookup.to_sql('genre_lookup',engine,if_exists='replace',index=False)

26

### Run test query for .sql files

In [33]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

  Tables_in_movies
0     genre_lookup
1     title_basics
2     title_genres
3    title_ratings
4             tmdb